/.vscode
/DerivedDataCache
/Intermediate
/Saved
/Binaries
/Content/CarnivorousPlant
/Content/Collections
/Content/Dark_Elemental
/Content/Demo
/Content/Developers
/Content/EnemyGoblin
/Content/EnemyOrc
/Content/Ent
/Content/Ghoul
/Content/Golem
/Content/Guardian
/Content/HellWatcher
/Content/KeyKeeper
/Content/LevelPrototyping
/Content/Lich
/Content/Mixamo
/Content/SkeletonEnemy
/Content/SpiderQueen
/Content/SurvivorGirl
/Content/ThirdPerson
/Content/Valkyrie
/Content/WarriorHero
/Content/Water_Elemental
/Content/Wildman
/Content/Worm
/Content/Zombie
